<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Exception</title>
    </h:head>
    <h:body>
        <h:form>
            <p>Original Request URI: <h:outputText value="#{sessionScope['com.bluelotussoftware.jsf.exception.handler.GeneralExceptionHandler.URL']}"/>
            </p>
            <h:commandButton value="Previous Page" action="#{indexBean.navigate()}"/>
        </h:form>
    </h:body>
</html>

